body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(243, 243, 243);
    margin: 3%;
    padding: 50px;
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;
}

nav {
	color: black;
	text-align: center;

}

nav a {
	color: black;
	font-weight: bold;
}

strong {
	color: black;
	font-style: italic;
}

h1 {
	text-transform: uppercase;
	font-size: 38px;
	margin-top: 5px;
}

h2 {
	font-size: 28px;
	text-align: left;
}

h3 {
	text-align: left;
	text-transform: uppercase;
	font-size: 20px
}

h4 {
	margin-bottom: 0px;
	font-weight: normal;
	font-size: 18px;
}

hr {
	margin-top: 44px;
	margin-bottom: 44px;
}

p {
	font-family: Georgia, serif;
	text-align: left;
	font-size: 18px;
	line-height: 24px;
}


img {
    margin-left: 30px;
    border: 1px solid #6D6D6D;
    padding: 5px;
    margin-bottom: 30px;
}

.image-right {
    float: right;
}

.image-right img {
    width: 130px;
}

img.social-icon {
    width: 16px;
    border: none;
    margin: 0px;
    padding: 0px 2px 0px 20px;
}

em {
	font-weight: bold;
}

ul {
	list-style: square;
}

li {
	text-align: left;
	padding-bottom: 10px;
}



